@import "./mixins";
@import "./variables";



body {
    margin: 0;
    background-color: rgb(21, 23, 24);
    @include display-center;
}


.circulo {
        @include display-center;
        position: relative;
        background-color: rgba(255, 255, 255, 0.952);
        border-radius: 50%;
        border: 3px solid yellowgreen;
        width: 300px;
        height: 300px;
        z-index: 0;
        
            #cuerpo {
                position: absolute;
                top: $position-top-cuerpo;
                left: $position-left-cuerpo;
                z-index: 1;
            }
            #cabeza-desp, #cabeza-dorm {
                position: absolute;
                @include position(-50px,20px);
            }
            #cabeza-dorm {
                z-index: 2;
//PREGUNTA: ¿por que no funciona el transition?
               // transition: all 0.5s linear;
            }
            #cabeza-desp {
                transition: all 0.3s linear; 
                //transition-delay
                display: inline; //el display no tiene transition
                z-index: 3;
                opacity: 0;
                @include position(-20px,20px);
                &:target {
                   // display: inline;
                   opacity: 100;
                    @include position(-50px,20px);
                }
            }
            #brazoD {
                position: absolute;
                @include position(25px,50px);
            }
            #brazoI {
                position: absolute;
                @include position(25px,-30px);
            }
            #brazoD, #brazoI {
                z-index: 3;
            }
            .actions {
                display: inline;
            }
            /*&:after {
                content: '';
                display: inline;
                background-color: green;
                height: 100%;
                width: 100%;
            }*/
        }
        
        #menu {
            @include display-center;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: -10vw;
            width: 10vw;
            height: 100vh;
            background-color: fuchsia;
            &:target {
                left: 0;
            }
        }
        
//PREGUNTAR como puedo hacer q "cabeza-dorm:target" me modifique "cabeza-desp"
    // tiene q ser hijo y/o hermano directo 

        /*
        // el + y el ~ (y el espacio-hijo-) es para el hermano/los hermanos siguientes
        #cabeza-dorm:target + #cabeza-desp{
            display: inline;
        }
        */


/*

*/
